

svg:not(:root) {
  overflow: hidden;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  overflow: visible;
}

[type=submit] {
  -webkit-appearance: button;
}

[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.legitRipple {
  overflow: hidden;
}

.legitRipple {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}



@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.row .column {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .row .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
  .row .column:not(:last-child) {
    margin-right: 2rem;
  }
}
body {
  font-family: "museo-sans-rounded", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 18px;
}

a {
  color: #f18a21;
}
a:hover, a:focus {
  color: #f39d45;
}
a:focus {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: #60b0e2;
}
a:active {
  color: #f6b069;
}

h1,
h2,
h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
}

.hs-button {
  background-color: #74c485;
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  border: 1px solid #74c485;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.hs-button:hover, .hs-button:focus {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  background-color: #86cc95;
  opacity: 1;
}

label {
  display: block;
  margin-bottom: 0.125rem;
  line-height: 1.2;
}

legend {
  font-size: 0.75rem;
}

textarea,
input[type=text],
input[type=email],
input[type=tel] {
  width: 100% !important;
  border: 1px solid #ddd !important;
  border-radius: 0.25rem !important;
  padding: 0.375rem 0.5rem !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  font-size: 1rem !important;
  background: #fefefe !important;
  color: #666 !important;
  height: 38px !important;
}
textarea:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
  border-color: #74c485 !important;
  outline: 0 none !important;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.hs-form-field {
  margin-bottom: 0.75rem !important;
}

fieldset {
  max-width: none !important;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 10;
}

/* Text meant only for screen readers. */

.wrapper {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.hero {
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
}
@media (min-width: 960px) {
  .hero {
    text-align: center;
  }
}
.hero-curve {
  display: block;
  margin-bottom: -1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  max-height: 117px;
  -webkit-filter: drop-shadow(0px -28px 17px rgba(0, 140, 191, 0.07));
          filter: drop-shadow(0px -28px 17px rgba(0, 140, 191, 0.07));
}

@-webkit-keyframes page-entrance {
  from {
    opacity: 0;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes page-entrance {
  from {
    opacity: 0;
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.body-container {
  opacity: 0;
  -webkit-animation: page-entrance 0.15s ease-in-out 0.1s 1 forwards;
          animation: page-entrance 0.15s ease-in-out 0.1s 1 forwards;
  position: relative;
  z-index: 1;
}

.card {
  background-color: white;
  -webkit-box-shadow: 10px 24px 46px rgba(13, 120, 230, 0.14);
          box-shadow: 10px 24px 46px rgba(13, 120, 230, 0.14);
  border-radius: 1rem;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
.footer-contact svg {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
  width: 1rem;
}
.footer-contact-social a:hover, .footer-contact-social a:focus {
  text-decoration: none;
}
.footer-contact-social a:hover svg path, .footer-contact-social a:focus svg path {
  fill: #008cbf;
}

/* ---- v2 ----- */
@supports (display: grid) {
}
.blog-listing-2019 .blog-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}
.blog-listing-2019 .blog-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.blog-listing-2019 .blog-grid .blog-grid-item {
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .blog-listing-2019 .blog-grid .blog-grid-item {
    width: calc(100%/3 - 10px);
  }
}
.blog-listing-2019 .blog-grid .blog-grid-item .custom-topic {
  padding: 13px 0 0;
  border-radius: 6px;
  font-size: 14px;
  margin: 0px;
}
@supports (display: grid) {
  .blog-listing-2019 .blog-grid {
    max-width: none;
    display: -ms-grid;
    display: grid;
  }
  .blog-listing-2019 .blog-grid .blog-grid-item {
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) {
  .blog-listing-2019 .blog-grid {
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.blog-listing-2019 .blog-grid a:not(.button):not(.hs-button) {
  color: #222222;
}
.blog-listing-2019 .blog-grid a:not(.button):not(.hs-button):hover, .blog-listing-2019 .blog-grid a:not(.button):not(.hs-button):focus {
  color: #008cbf;
  text-decoration: none;
}
.blog-listing-2019 .blog-grid a:not(.button):not(.hs-button):hover:not(.button):not(.hs-button), .blog-listing-2019 .blog-grid a:not(.button):not(.hs-button):focus:not(.button):not(.hs-button) {
  color: #fff;
}
.blog-listing-2019 .blog-grid-item {
  -ms-grid-column-span: 12;
  grid-column: span 12;
  position: relative;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  border-radius: 2px;
}
@media (min-width: 768px) {
  .blog-listing-2019 .blog-grid-item {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
}
@media (min-width: 960px) {
  .blog-listing-2019 .blog-grid-item {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
}
.blog-listing-2019 .blog-grid-item__post {
  background: #f3f3f3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.blog-listing-2019 .blog-grid-item__post > * {
  width: 100%;
}
.blog-listing-2019 .blog-grid-item__post a {
  position: relative;
  z-index: 10;
}
.blog-listing-2019 .blog-grid-item__post h2 {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 1.15rem;
}
.blog-listing-2019 .blog-grid-item__post:hover {
  background: #1468a1;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.06);
}
.blog-listing-2019 .blog-grid-item__post:hover .custom-topic,
.blog-listing-2019 .blog-grid-item__post:hover h2 {
  color: #fff;
}
.blog-listing-2019 .blog-grid-item__post:hover .post-image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.blog-listing-2019 .blog-grid-item__post .post-image__container {
  height: 200px;
  overflow: hidden;
}
.blog-listing-2019 .blog-grid-item__post .post-image__container .post-image {
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: #1468a1;
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.blog-listing-2019 .blog-grid-item__post .post-content__container {
  padding: 2rem 1rem 1rem;
  position: relative;
}
.blog-listing-2019 .blog-grid-item__post .post-content__container .custom-topic:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
